.floatright {
    float: right;
    max-width: 60%;
    margin-left: 0.2em;
} 
.inactive {
    opacity: 0.2;
}
.current {
    font-weight: bold;
}

article a:visited {
    color: #696834;
}
article a:hover {
    color: #000000;
}
article a {

    color: #88B633;
}

.shadow img {
box-shadow: 10px 10px 5px #888888;
}

.round img {
    border-radius: 1000px;
    
}
.round figcaption {
text-align: center;
}